<%inherit file="base.html" />
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%block name="title">${_("Container")}</%block>
<%block name="bodyclass">is-signedin course uploads view-container</%block>

<%namespace name='static' file='static_content.html'/>
<%namespace name="units" file="widgets/units.html" />

<%block name="header_extras">
% for template_name in [ ]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="jsextra">
<script type='text/javascript'>
    require(["domReady!", "jquery", "js/models/module_info", "coffee/src/views/unit", "jquery.ui"],
            function(doc, $, ModuleModel, UnitEditView, ui) {
                var model;
                window.unit_location_analytics = '${unit_locator}';

                // tabs
                $('.tab-group').tabs();

                model = new ModuleModel({
                    id: '${unit_locator}',
                    state: '${unit_state}'
                });
                new UnitEditView({
                    el: $('.wrapper'),
                    model: model
                });

                $('.new-component-template').each(function(){
                    $emptyEditor = $(this).find('.empty');
                    $(this).prepend($emptyEditor);
                });
            });
</script>

</%block>

<%block name="content">


<div class="wrapper-mast wrapper">
    <header class="mast has-navigation">
        <h1 class="page-header">
            <small class="navigation navigation-parents">
                <a href="#" class="navigation-link navigation-parent-previous">${_("Parent of Unit Page")}</a>
                <a href="#" class="navigation-link navigation-parent">${_("Unit Page Super Long Title Name Goes Here Yeah Whats Up Parent")}</a>
                <a href="#" class="navigation-link navigation-current">${_("Container Name")}</a>
            </small>
        </h1>

        <nav class="nav-actions">
            <h3 class="sr">${_("Page Actions")}</h3>
            <ul>
                <li class="sr nav-item">
                    ${_("No Actions")}
                </li>
            </ul>
        </nav>
    </header>
</div>

<div class="wrapper-content wrapper">
    <div class="inner-wrapper">
        <section class="content-area">
            <article class="content-primary">
                <section class="xblock-wrapper xblock-wrapper-pagelevel">
                    <header class="xblock-header">
                        <div class="header-details">
                            Container Name
                        </div>
                        <div class="header-actions">
                            <ul class="actions-list">
                                <li class="action-item action-edit">
                                    <a href="#" class="edit-button action-button">
                                        <i class="icon-edit"></i>
                                        <span class="action-button-text">${_("Edit")}</span>
                                    </a>
                                </li>
                            <ul>
                        </div>
                    </header>
                    <article class="xblock-render">
                        <ol class="xblock-list">
                            <li class="xblock-listitem">
                                <section class="xblock-wrapper xblock-wrapper-nestinglevel">
                                    <header class="xblock-header">
                                        <div class="header-details">
                                            <a href="#" data-tooltip="Expand or Collapse" class="action expand-collapse expand">
                                                <i class="icon-caret-down ui-toggle-expansion"></i>
                                                <span class="sr">Expand or Collapse</span>
                                            </a>
                                            <span>Condition 1</span>
                                        </div>
                                        <div class="header-actions">
                                            <ul class="actions-list">
                                                <li class="sr action-item">No Actions</li>
                                            <ul>
                                        </div>
                                    </header>
                                    <article class="xblock-render">
                                        <ol class="xblock-list">
                                            <li class="xblock-listitem"</li>
                                                <section class="xblock-wrapper xblock-wrapper-elementlevel">
                                                    <header class="xblock-header">
                                                        <div class="header-details">
                                                            Video
                                                        </div>
                                                        <div class="header-actions">
                                                            <ul class="actions-list">
                                                                <li class="action-item action-edit">
                                                                    <a href="#" class="edit-button action-button">
                                                                        <i class="icon-edit"></i>
                                                                        <span class="action-button-text">${_("Edit")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-duplicate">
                                                                    <a href="#" data-tooltip="${_("Duplicate")}" class="duplicate-button action-button">
                                                                        <i class="icon-copy"></i>
                                                                        <span class="sr">${_("Duplicate this component")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-delete">
                                                                    <a href="#" data-tooltip="${_("Delete")}" class="delete-button action-button">
                                                                        <i class="icon-trash"></i>
                                                                        <span class="sr">${_("Delete this component")}</span>
                                                                    </a>
                                                                </li>
                                                            <ul>
                                                        </div>
                                                    </header>
                                                    <article class="xblock-render" style="height:400px;">Shows Element - Example Video could be here. </article>
                                                </section>
                                            <li class="xblock-listitem"</li>
                                                <section class="xblock-wrapper xblock-type-container xblock-wrapper-elementlevel">
                                                    <header class="xblock-header">
                                                        <div class="header-details">
                                                            Randomize Block
                                                        </div>
                                                        <div class="header-actions">
                                                            <ul class="actions-list">
                                                                <li class="action-item action-view">
                                                                    <a href="#" class="action-button">
                                                                        <span class="action-button-text">${_("View")}</span>
                                                                        <i class="icon-arrow-right"></i>
                                                                    </a>
                                                                </li>
                                                            <ul>
                                                        </div>
                                                    </header>
                                                    <article class="xblock-render">Shows Element - Example Randomize Block could be here.</article>
                                                </section>
                                            <li class="xblock-listitem"</li>
                                                <section class="xblock-wrapper xblock-wrapper-elementlevel">
                                                    <header class="xblock-header">
                                                        <div class="header-details">
                                                            Element Level Header
                                                        </div>
                                                        <div class="header-actions">
                                                            <ul class="actions-list">
                                                                <li class="action-item action-edit">
                                                                    <a href="#" class="edit-button action-button">
                                                                        <i class="icon-edit"></i>
                                                                        <span class="action-button-text">${_("Edit")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-duplicate">
                                                                    <a href="#" data-tooltip="${_("Duplicate")}" class="duplicate-button action-button">
                                                                        <i class="icon-copy"></i>
                                                                        <span class="sr">${_("Duplicate this component")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-delete">
                                                                    <a href="#" data-tooltip="${_("Delete")}" class="delete-button action-button">
                                                                        <i class="icon-trash"></i>
                                                                        <span class="sr">${_("Delete this component")}</span>
                                                                    </a>
                                                                </li>
                                                            <ul>
                                                        </div>
                                                    </header>
                                                    <article class="xblock-render" style="height:200px;">Shows Element - Example HTML could be here.</article>
                                                </section>
                                            </li>
                                        </ol>
                                    </article>
                                </section>
                            </li>
                            <li class="xblock-listitem xblock-listitem">
                                <section class="xblock-wrapper xblock-wrapper-nestinglevel">
                                    <header class="xblock-header">
                                        <div class="header-details">
                                            <a href="#" data-tooltip="Expand or Collapse" class="action expand-collapse expand">
                                                <i class="icon-caret-down ui-toggle-expansion"></i>
                                                <span class="sr">Expand or Collapse</span>
                                            </a>
                                            <span>Condition 2</span>
                                        </div>
                                        <div class="header-actions">
                                            <ul class="actions-list">
                                                <li class="sr action-item">No Actions</li>
                                            <ul>
                                        </div>
                                    </header>
                                    <article class="xblock-render">
                                        <ol class="xblock-list">
                                            <li class="xblock-listitem"</li>
                                                <section class="xblock-wrapper xblock-wrapper-elementlevel">
                                                    <header class="xblock-header">
                                                        <div class="header-details">
                                                            Video
                                                        </div>
                                                        <div class="header-actions">
                                                            <ul class="actions-list">
                                                                <li class="action-item action-edit">
                                                                    <a href="#" class="edit-button action-button">
                                                                        <i class="icon-edit"></i>
                                                                        <span class="action-button-text">${_("Edit")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-duplicate">
                                                                    <a href="#" data-tooltip="${_("Duplicate")}" class="duplicate-button action-button">
                                                                        <i class="icon-copy"></i>
                                                                        <span class="sr">${_("Duplicate this component")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-delete">
                                                                    <a href="#" data-tooltip="${_("Delete")}" class="delete-button action-button">
                                                                        <i class="icon-trash"></i>
                                                                        <span class="sr">${_("Delete this component")}</span>
                                                                    </a>
                                                                </li>
                                                            <ul>
                                                        </div>
                                                    </header>
                                                    <article class="xblock-render" style="height:400px;" >Shows Element - Example Video could be here. </article>
                                                </section>
                                            <li class="xblock-listitem"</li>
                                                <section class="xblock-wrapper xblock-wrapper-elementlevel">
                                                    <header class="xblock-header">
                                                        <div class="header-details">
                                                            Common Problem
                                                        </div>
                                                        <div class="header-actions">
                                                            <ul class="actions-list">
                                                                <li class="action-item action-edit">
                                                                    <a href="#" class="edit-button action-button">
                                                                        <i class="icon-edit"></i>
                                                                        <span class="action-button-text">${_("Edit")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-duplicate">
                                                                    <a href="#" data-tooltip="${_("Duplicate")}" class="duplicate-button action-button">
                                                                        <i class="icon-copy"></i>
                                                                        <span class="sr">${_("Duplicate this component")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-delete">
                                                                    <a href="#" data-tooltip="${_("Delete")}" class="delete-button action-button">
                                                                        <i class="icon-trash"></i>
                                                                        <span class="sr">${_("Delete this component")}</span>
                                                                    </a>
                                                                </li>
                                                            <ul>
                                                        </div>
                                                    </header>
                                                    <article class="xblock-render">Shows Element - Example Problem could be here.</article>
                                                </section>
                                            <li class="xblock-listitem"</li>
                                                <section class="xblock-wrapper xblock-wrapper-elementlevel">
                                                    <header class="xblock-header">
                                                        <div class="header-details">
                                                            HTML
                                                        </div>
                                                        <div class="header-actions">
                                                            <ul class="actions-list">
                                                                <li class="action-item action-edit">
                                                                    <a href="#" class="edit-button action-button">
                                                                        <i class="icon-edit"></i>
                                                                        <span class="action-button-text">${_("Edit")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-duplicate">
                                                                    <a href="#" data-tooltip="${_("Duplicate")}" class="duplicate-button action-button">
                                                                        <i class="icon-copy"></i>
                                                                        <span class="sr">${_("Duplicate this component")}</span>
                                                                    </a>
                                                                </li>
                                                                <li class="action-item action-delete">
                                                                    <a href="#" data-tooltip="${_("Delete")}" class="delete-button action-button">
                                                                        <i class="icon-trash"></i>
                                                                        <span class="sr">${_("Delete this component")}</span>
                                                                    </a>
                                                                </li>
                                                            <ul>
                                                        </div>
                                                    </header>
                                                    <article class="xblock-render">Shows Element - Example HTML could be here.</article>
                                                </section>
                                            </li>
                                        </ol>
                                    </article>
                                </section>
                            </li>
                        </ol>
                    </article>
                </section>
            </article>
            <aside class="content-supplementary" role="complimentary">
                <div class="bit">
                    <h3 class="title-3">${_("Container Reference Page")}</h3>
                    <ul class="list-details">
                        <li class="item-detail">${_("This is a reference  for the container page, mean to show visual states and general FED hierarchy for the both the HTML template and the SASS styling.")}</li>
                    </ul>
                </div>
            </aside>
        </section>
    </div>
</div>

</%block>

<%block name="view_alerts">
<!-- alert: save confirmed with close -->
<div class="wrapper wrapper-alert wrapper-alert-confirmation" role="status">
    <div class="alert confirmation">
        <i class="icon-ok"></i>

        <div class="copy">
            <h2 class="title title-3">${_('Your file has been deleted.')}</h2>
        </div>

        <a href="" rel="view" class="action action-alert-close">
            <i class="icon-remove-sign"></i>
            <span class="label">${_('close alert')}</span>
        </a>
    </div>
</div>
</%block>
